*{
    margin-left: 3px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.banner {
    background-image: url('ft-banhoetosa/banho.jpg');
    background-size: cover;
    color: #000000;
    text-align: center;
    padding: 150px 0;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e6b800;
}

.about {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    text-align: center;
}
.image-gallery{
    width: 1330px;
    height: 420px;
    align-items: center;

}
.container{
    justify-content: flex-end;
}